---
export interface Props {
  name: string;
  class?: string;
}

const { name, class: className = "h-5 w-5" } = Astro.props as Props;

// Map of icon names to their SVG paths
const icons: Record<string, any> = {
  twitter: {
    viewBox: "0 0 24 24",
    path: "M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z",
  },
  github: {
    viewBox: "0 0 24 24",
    path: "M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z",
  },
  youtube: {
    viewBox: "0 0 24 24",
    path: "M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z",
  },
  website: {
    viewBox: "0 0 24 24",
    path: "",
    paths: [
      {
        d: "M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z",
        fill: "none",
      },
      { d: "M12 12m-10 0a10 10 0 1 0 20 0a10 10 0 1 0 -20 0", fill: "none" },
      { d: "M2 12h20", fill: "none" },
    ],
  },
  interview: {
    viewBox: "0 0 20 20",
    path: "M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z",
    fillRule: "evenodd",
    clipRule: "evenodd",
  },
  calendar: {
    viewBox: "0 0 24 24",
    path: "M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zM5 8h14V6H5zm0 0V6zm7 6q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m-4 0q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m8 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14m-4 4q-.425 0-.712-.288T11 17t.288-.712T12 16t.713.288T13 17t-.288.713T12 18m-4 0q-.425 0-.712-.288T7 17t.288-.712T8 16t.713.288T9 17t-.288.713T8 18m8 0q-.425 0-.712-.288T15 17t.288-.712T16 16t.713.288T17 17t-.288.713T16 18",
  },
  location: {
    viewBox: "0 0 24 24",
    path: "M12 19.35q3.05-2.8 4.525-5.087T18 10.2q0-2.725-1.737-4.462T12 4T7.738 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35m0 1.975q-.35 0-.7-.125t-.625-.375Q9.05 19.325 7.8 17.9t-2.087-2.762t-1.275-2.575T4 10.2q0-3.75 2.413-5.975T12 2t5.588 2.225T20 10.2q0 1.125-.437 2.363t-1.275 2.575T16.2 17.9t-2.875 2.925q-.275.25-.625.375t-.7.125M12 12q.825 0 1.413-.587T14 10t-.587-1.412T12 8t-1.412.588T10 10t.588 1.413T12 12",
  },
  externalLink: {
    viewBox: "0 0 24 24",
    paths: [
      {
        d: "M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14",
        fill: "none",
      },
    ],
  },
  search: {
    viewBox: "0 0 24 24",
    paths: [{ d: "M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z", fill: "none" }],
  },
  close: {
    viewBox: "0 0 24 24",
    paths: [{ d: "M6 18L18 6M6 6l12 12", fill: "none" }],
  },
  editPage: {
    viewBox: "0 0 24 24",
    paths: [
      {
        d: "M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z",
        fill: "none",
      },
    ],
  },
  reportError: {
    viewBox: "0 0 24 24",
    paths: [
      {
        d: "M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z",
        fill: "none",
      },
    ],
  },
};

const icon = icons[name];
---

{
  icon ? (
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class={className}
      viewBox={icon.viewBox}
      fill={icon.paths ? "none" : "currentColor"}
      stroke={icon.paths ? "currentColor" : undefined}
      stroke-width={icon.paths ? "2" : undefined}
      stroke-linecap={icon.paths ? "round" : undefined}
      stroke-linejoin={icon.paths ? "round" : undefined}
    >
      {icon.path && <path d={icon.path} fill-rule={icon.fillRule} clip-rule={icon.clipRule} />}
      {icon.paths &&
        icon.paths.map((path: any) => (
          <path d={path.d} fill={path.fill || "none"} stroke-width={path.strokeWidth || "2"} />
        ))}
    </svg>
  ) : (
    <span class="text-red-500">Icon "{name}" not found</span>
  )
}
